@model one2many.Models.Result

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Result</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="term" class="control-label"></label>
                <input asp-for="term" class="form-control" />
                <span asp-validation-for="term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="termresult" class="control-label"></label>
                <input asp-for="termresult" class="form-control" />
                <span asp-validation-for="termresult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="meritpostion" class="control-label"></label>
                <input asp-for="meritpostion" class="form-control" />
                <span asp-validation-for="meritpostion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studentid" class="control-label"></label>
                <select asp-for="Studentid" class="form-control" asp-items="ViewBag.Studentid"></select>
                <span asp-validation-for="Studentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classinfoid" class="control-label"></label>
                <select asp-for="Classinfoid" class="form-control" asp-items="ViewBag.Classinfoid"></select>
                <span asp-validation-for="Classinfoid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
